/* Resets: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #25262d;
  background-color: #f1f0f0;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
a {
  color: #3a389f;

  text-decoration: none;
}
a:hover {
  color: rgb(22, 15, 49);
}
/* End Resets. */
/*   Header space:   */
.Header-div {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #bac0f5;
  border-bottom: #b0a8a8 solid 5px;
}
.other-nav-bar {
  display: none;
}

.nav-bar a {
  margin-left: 20px;
}
/* End Header space */
/* Start hero section */
.hero-section {
  display: flex;
  max-width: 980px;
  margin-inline: auto;
  align-items: center;
  margin-top: 2rem;
  /* flex-wrap: wrap; */
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 490px;
}
.image-section img {
  border-radius: 2rem;
  max-width: 490px;
}
.form {
  padding-bottom: 3rem;
  padding-top: 1rem;
}
@media screen and (max-width: 980px) {
  .image-section {
    margin-block: 5rem;
    margin-inline: auto;
  }
  .hero-section {
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 100%;
  }
  .form {
    padding-bottom: 3rem;
    padding-top: 0rem;
    margin-top: 0;
  }
  form,
  .form-group {
    /* width: 80%; */
    margin-left: 5rem;
  }
  form,
  .form-group,
  .checkbox-label,
  .register-btn {
    width: inherit;
    align-items: center;
    margin-inline: auto;
    align-content: center;
  }
  .form-group label {
    text-align: left;
    width: inherit;
  }
}

.menu {
  display: none;
}
@media screen and (max-width: 520px) {
  .nav-bar {
    display: none;
  }
  .menu {
    display: inline;
  }
  .image-section {
    align-items: center;
    display: none;
  }
  .image-section img {
    width: 80%;
    margin-left: 3rem;
  }
  .content {
    width: 80%;
  }
  .hero-section {
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 100%;
  }
  form.form {
    width: 80%;
    padding-bottom: 3rem;
  }
  .label-check {
    width: inherit;
    font-size: smaller;
  }
  .form-group,
  .checkbox-label,
  .register-btn {
    width: inherit;
    align-items: center;
    margin-inline: auto;
    align-content: center;
  }
  /* .form-group label {
    text-align: left;
    width: inherit;
  } */
  .nav2 {
    flex-direction: column;
    padding: 0;
  }
}

.btn {
  padding: 10px 20px;
  width: fit-content;
  border-radius: 5px;
  background-color: #636682;
  color: white;
  border: none;
  cursor: pointer;
  /* ******** */
  display: inline;
}
.btn:hover {
  background-color: #3d3f52;
}

/* End hero section */
/* Start Form */
.form {
  width: 490px;
  margin-inline: auto;
  margin-top: 3rem;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 1rem;
}
input[type="email"],
input[type="password"],
input[type="name"] {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(52, 48, 100);
  border-radius: 4px;
  transition: all 0.2s;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="name"]:focus {
  outline: 4px solid #a581c9;
}
.checkbox1 {
  cursor: pointer;
}
/* End Form */
/* ******  footer  ********* */
.footer {
  min-width: 100%;
  height: 16rem;
  align-items: center;
  margin-inline: auto;
  background-color: #bac0f5;
  border-bottom: #b0a8a8 solid 5px;
}
.contact,
.nav2,
.go-top {
  align-items: center;
  justify-content: center;
  display: flex;
  /* flex-wrap: wrap; */
}
.nav2 a,
.go-top {
  padding-inline: 0.5rem;
}
.go-top {
  padding-block: 1rem;
  font-size: larger;
  font-weight: bolder;
}
.contact {
  padding-top: 80px;
  padding-bottom: 40px;
}
/* RESPONSIVE */
