/* Resets: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #25262d;
  background-color: #f1f0f0;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
a {
  color: #3a389f;

  text-decoration: none;
}
a:hover {
  color: rgb(22, 15, 49);
}
/* End Resets. */
/*   Header space:   */
.Header-div {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #bac0f5;
  border-bottom: #b0a8a8 solid 5px;
}
.nav-bar a {
  margin-left: 20px;
}
/* End Header space */
/* Start hero section */
.hero-section {
  display: flex;
  max-width: 980px;
  margin-inline: auto;
  align-items: center;
  margin-top: 2rem;
  /* flex-wrap: wrap; */
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 490px;
}
.image-section img {
  border-radius: 2rem;
  max-width: 490px;
}

@media screen and (max-width: 980px) {
  .image-section {
    margin-block: 5rem;
    margin-inline: auto;
  }
  .hero-section {
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 100%;
  }
  form,
  .form-group {
    width: 80%;
    margin-left: 5rem;
  }
}
@media screen and (max-width: 500px) {
  .image-section {
    /* display: none; */
  }
  .image-section img {
    width: 80%;
    margin-left: 3rem;
  }
  .content {
    width: 80%;
  }
  .hero-section {
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 100%;
  }
  form,
  .form-group {
    width: 60%;
    margin-left: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .nav2 {
    /* display: flex; */
    flex-direction: column;
  }
  .nav2 a {
    padding-top: 0.5rem;
  }
}
.btn {
  padding: 10px 20px;
  width: fit-content;
  border-radius: 5px;
  background-color: #636682;
  color: white;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #3d3f52;
}

/* End hero section */
/* Start Form */
.form {
  width: 490px;
  margin-inline: auto;
  margin-top: 5rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 1rem;
}
input[type="email"],
input[type="password"],
input[type="name"] {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(52, 48, 100);
  border-radius: 4px;
  transition: all 0.2s;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="name"]:focus {
  outline: 4px solid #a581c9;
}
.checkbox1 {
  cursor: pointer;
}
/* End Form */
/* ******  footer  ********* */
.footer {
  min-width: 100%;
  height: 16rem;
  align-items: center;
  margin-inline: auto;
  background-color: #bac0f5;
  border-bottom: #b0a8a8 solid 5px;
}
.contact,
.nav2 {
  align-items: center;
  padding: 30px 50px;
  justify-content: center;
  display: flex;
  /* flex-wrap: wrap; */
}
.contact {
  padding-top: 80px;
}
/* RESPONSIVE */
